<a href="https://colab.research.google.com/github/LaasyaKruthi/Laasya/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
A = {1,2,3,4}
B = {3,4,5,6}
print("union = ",A|B)
print("intersection = ", A&B)
print("difference = ", A-B)
print("symmetric difference = ", A^B)

union =  {1, 2, 3, 4, 5, 6}
intersection =  {3, 4}
difference =  {1, 2}
symmetric difference =  {1, 2, 5, 6}

In [6]:
set={"laasya"}
print('l' in set)
print('d'not in set)

False
True
False
True

In [8]:
names = {'laasya','anirudh','bindu','ravi','vyshnavi','gowtham','madhuri'}
jclan = {'laasya','anirudh','bindu','ravi','madhuri'}
print("pclan = ", names-jclan)

pclan =  {'gowtham', 'vyshnavi'}

In [9]:
numbers = {1,2,3,4,5,6,7,8,9,10}
odds = {1,3,5,7,9}
even = {2,4,6,8,10}
print(odds.isdisjoint(even))
print(numbers.issuperset(odds))
print(odds.issuperset(numbers))
print(odds.issubset(numbers))

True
True
False
True

In [10]:
elements = {8,5,0,0,2,1,8,9,5,5}
print(elements)

{0, 1, 2, 5, 8, 9}